# ==============================
# Server Configuration
# ==============================

NODE_ENV=development


# ==============================
# Database
# ==============================

DATABASE_URL=postgresql://username:password@host:5432/database


# ==============================
# Redis
# ==============================

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=


# ==============================
# JWT Authentication
# ==============================

JWT_SECRET=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d


# ==============================
# Firebase Admin SDK
# ==============================

FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=googleapis.com